@import url('https://fonts.googleapis.com/css?family=Space+Mono:700');

body, .pdb-root {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  background: white;
  color: black;
}
.pdb-root {
  padding: 1rem 1rem 8rem;
  max-width: 36rem;
  margin: auto;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
}
#logo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 42px;
  margin: 0;
}
.bankrupt {
  width: 480px;
}

ul.choices {
  display: block;
  text-align: left;
  padding: 0;
}
ul.choices li {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.25rem;
  background: #50e3c2;
  border-radius: 0.25rem;
  color: #000;
  font-size: 1.25rem;
  cursor: pointer;
  max-width: 24em;
}

.block {
  display: none;
}
.block.active {
  display: block;
  border-top: 2px solid #ccc;
  margin: 3rem 0;
  padding-top: 3rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}
h1, h2, p {
  line-height: 1.5;
}
h2 {
  display: none;
}
p:first-of-type {
  margin: 0;
}
p.go {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 6rem !important;
  line-height: 1em !important;
  text-align: center;
  width: 12rem;
  border-bottom: 0.75rem solid black;
  margin: 3rem auto;
}
p.separator {
  text-align: center;
  margin: 2rem 0;
}
p.reset {
  margin: 0;
}
.black-heart {
  font-weight: bold;
  text-align: center;
}
.black-heart::after {
  content: '♥︎♥︎♥︎';
  display: inline-block;
  margin: 0 0.25rem;
}
.black-heart.mid::after {
  content: '♥︎♥︎♥︎♥︎♥︎♥︎';
}
.black-heart.high::after {
  content: '♥︎♥︎♥︎♥︎♥︎♥︎♥︎♥︎♥︎';
}
.black-heart .score {
  font-family: "Space Mono", monospace;
  font-size: 1.25rem;
  display: inline-block;
  background: black;
  color: white;
  padding: 0 0.25rem;
  margin: 0 0.25rem;
}
